# Store Item Demand Forecasting Challenge

## 1. Importando as bibliotecas

In [49]:
import pandas as pd
import numpy as np

In [50]:
treino = pd.read_csv(filepath_or_buffer = "data/train.csv")

treino['date'] = pd.to_datetime(treino['date'], format="%Y-%m-%d")

treino.head()

        date  store  item  sales
0 2013-01-01      1     1     13
1 2013-01-02      1     1     11
2 2013-01-03      1     1     14
3 2013-01-04      1     1     13
4 2013-01-05      1     1     10

## Análise Exploratória de Dados

## Pré-processamento

### Filtrando o item 1 e loja 1

In [48]:
new_treino = treino[(treino["item"] == 1) & (treino["store"] == 1)][["date", "sales"]]

new_treino.head()

        date  sales
0 2013-01-01     13
1 2013-01-02     11
2 2013-01-03     14
3 2013-01-04     13
4 2013-01-05     10

## Separando em treino e teste

In [33]:
new_treino = treino[treino["date"] < "2017-01-01"]
new_teste = treino[treino["date"] >= "2017-01-01"]

In [36]:
new_treino.shape

(730500, 4)

In [37]:
new_teste.shape

(182500, 4)